<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <supports-screens
            android:smallScreens="true"
            android:normalScreens="true"
            android:largeScreens="true"
            android:xlargeScreens="true" />

    <!--<uses-permission android:name="android.permission.INTERNET" />-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="de.bauerapps.resimulate.helper.ESApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:allowBackup="false">
        <activity android:name="de.bauerapps.resimulate.ScenarioDesignActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="locked"
            android:theme="@style/FullscreenTheme">

        </activity>
        <activity android:name="de.bauerapps.resimulate.SingleModeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="locked"
            android:theme="@style/FullscreenTheme">

        </activity>
        <activity
            android:name="de.bauerapps.resimulate.TrainerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="locked"
            android:theme="@style/FullscreenTheme">

        </activity>
        <activity
            android:name="de.bauerapps.resimulate.StartupActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="locked"
            android:theme="@style/FullscreenTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.bauerapps.resimulate.TraineeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="locked"
            android:theme="@style/FullscreenTheme">

        </activity>

        <service android:name="de.bauerapps.resimulate.threads.NearbyConnectionService" />
    </application>

</manifest>